<header>
    <div class="container-grid posicionamento-header">
        <div>
            <a href=""><img class="logo" src="../assets/img/logo.png" alt="Logo do geo-game"></a>
  
        </div>
  
        <a href="#" id="barras"><img class="barras" src="../assets/img/barra.svg" alt="menu de barras"></a>
  
        <nav id="menu" class="menu">
            <a href="" src="index.html">HOME</a>
            <a href="">LANÇAMENTOS</a>
            <a href="">PC GAMER</a>
            <a href="">ELETRONICOS</a>
            <a href="">JOGOS</a>
            <a class="texto-login" href="./pages/login.html">LOGIN</a>
        </nav>
    </div>
  </header>
  
  <div>
    <img src="../assets/img/banner1.png" alt="banner setap">
    <img src="img/banner2.png" alt="banner fone">
    <img src="img/banner3.png" alt="banner mouse">
  </div>
  
  <section class="secao-promocao">
    <div class="promocao container">
        <h2>PROMOÇÃO</h2>
  
    </div>
  </section>
  
  <section>
    <div>
        <table>
            <thead>
                <tr>
                    <th style="padding-right: 50px; padding-left: 50px;"><img src="../assets/img/ps5.jpg" style="height: 200px;">
                    </th>
                    <th style="padding-right: 50px; padding-left: 50px;"><img src="../assets/img/controle.jpg"
                            style="height: 200px;"></th>
                    <th style="padding-right: 50px; padding-left: 50px;"><img src="../assets/img/pc-gamer.jpg"
                            style="height: 200px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding-right: 150px; padding-left: 100px;">Console Sony Playstation 5</td>
                    <td style="padding-right: 150px; padding-left: 100px;">Controle Sem fio PS5 DualSense</td>
                    <td style="padding-right: 150px; padding-left: 100px;">PC Gamer NAVE Atmosfera <br>IAT10 Powered By</td>
                </tr>
                <tr>
                    <td style="padding-right: 150px; padding-left: 100px;">R$ 4.499,90</td>
                    <td style="padding-right: 150px; padding-left: 100px;">R$ 422,90</td>
                    <td style="padding-right: 150px; padding-left: 100px;">R$ 6.699,90</td>
                </tr>
            </tbody>
        </table>
    </div>
  </section>
  
  
  <section class="secao-destaque">
    <div class="produtos1 container">
        <h2>DESTAQUE</h2>
    </div>
  </section>
  
  <table>
    <thead>
        <tr>
            <th style="padding-right: 50px; padding-left: 50px;"><img src="../assets/img/xbox.jpg" style="height: 200px;">
            </th>
            <th style="padding-right: 100px; padding-left: 100px;"><img src="../assets/img/ntebook.jpg"
                    style="height: 200px;"></th>
            <th style="padding-right: 50px; padding-left: 50px;"><img src="../assets/img/monitor.jpg"
                    style="height: 200px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding-right: 50px; padding-left: 50px;">Console Microsoft Xbox Series S, 512GB, Branco
            </td>
            <td style="padding-right: 100px; padding-left: 100px;">Notebook Gamer Acer Nitro 5 AMD Ryzen 5-4600H
            </td>
            <td style="padding-right: 50px; padding-left: 50px;">Monitor LG 29' IPS, Ultra Wide, Full HD</td>
        </tr>
        <tr>
            <td style="padding-right: 50px; padding-left: 50px;">R$ 2.384,91</td>
            <td style="padding-right: 100px; padding-left: 100px;">R$ 5.499,90</td>
            <td style="padding-right: 50px; padding-left: 50px;">R$ 1.399,90</td>
        </tr>
    </tbody>
  </table>
  
  
  
  <section class="secao-novidade">
    <div class="novidade1 container">
        <h2>NOVIDADE</h2>
    </div>
  </section>
  
  <table>
    <thead>
        <tr>
            <th style="padding-right: 100px; padding-left: 100px;"><img src="../assets/img/fone.jpg" style="height: 200px;">
            </th>
            <th style="padding-right: 100px; padding-left: 100px;"><img src="../assets/img/placa.jpg"
                    style="height: 200px;"></th>
            <th style="padding-right: 50px; padding-left: 50px;"><img src="../assets/img/cadeira.jpg"
                    style="height: 200px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding-right: 100px; padding-left: 100px;">Headset Gamer HyperX Cloud Alpha, Drivers 50mm
            </td>
            <td style="padding-right: 100px; padding-left: 100px;">Placa de Vídeo ZOTAC GAMING GeForce RTX 3060</td>
            <td style="padding-right: 100px; padding-left: 100px;">Cadeira Gamer Husky Gaming Snow, Preto</td>
        </tr>
        <tr>
            <td style="padding-right: 100px; padding-left: 100px;">R$ 399,90</td>
            <td style="padding-right: 100px; padding-left: 100px;">R$ 4.599,90</td>
            <td style="padding-right: 100px; padding-left: 100px;">R$ 629,90</td>
        </tr>
    </tbody>
  </table>
  
  
  <section class="secao-galeria">
    <div class="galeria1 container">
        <h2>GALERIA</h2>
    </div>
  </section>
  
  <table>
    <thead>
        <tr>
            <th style="padding-right: 30px; padding-left: 30px;"><img src="../assets/img/jogo1.jpg" style="height: 200px;">
            </th>
            <th style="padding-right: 30px; padding-left: 30px;"><img src="../assets/img/jogo2.jpg" style="height: 200px;">
            </th>
            <th style="padding-right: 30px; padding-left: 30px;"><img src="../assets/img/jogo3.jpg" style="height: 200px;">
            </th>
            <th style="padding-right: 30px; padding-left: 70px;"><img src="../assets/img/volante.jpg"
                    style="height: 200px;"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding-right: 50px; padding-left: 50px;">Jogo Elden Ring, PS4</td>
            <td style="padding-right: 100px; padding-left: 100px;">Jogo Lego Star Wars</td>
            <td style="padding-right:80px; padding-left: 100px;">Jogo Lego City Undercover</td>
            <td style="padding-right: 40px; padding-left: 100px;">Volante Logitech G923</td>
        </tr>
  
    </tbody>
  </table>
  
  
  <section class="secao-noticias">
    <div class="container">
        <div class="bloco-noticias">
            <div>
                <h2>Notícias</h2>
            </div>
            <div id="espaco-noticias" class="content-news">
                <div class="cardnews">
                    <h3>Amazon prime esta doando Kindle</h3>
                    <p>a amazon nesta semana estará doando para moradores de rua a amazon nesta semana estará doando para moradores de rua</p>
                </div>
  
                <div class="cardnews">
                  <h3>O dolar esta negativo</h3>
                  <p>1 real esta valendo 400 dolares</p>
              </div>
  
              <div class="cardnews">
                <h3>NFT vende mais que pamonha</h3>
                <p>O pessoal acha mais doce</p>
            </div>
  
            <div class="cardnews">
              <h3>netflix vai a falência</h3>
              <p>todo mundo via o catalogo mas não assistia o filme</p>
          </div>
  
          <div class="cardnews">
            <h3>Elon Musk faz cambio entre tesla e moto g2</h3>
            <p>Segundo Elon, a troca valeu a pena pois ele faz ligações também</p>
        </div>
  
        <div class="cardnews">
          <h3>SONY anuncia o preço do play 5 que caiu para 1000 reais</h3>
          <p>Isso aqui se for verdade eu to no paraiso</p>
      </div>
  
      
            </div>
  
        </div>
    </div>
  </section>
  
  <form #userForm="ngForm" (ngSubmit)="OnSubmit()">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)] = "userModel.email">

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" [(ngModel)] = "userModel.senha">
    <button type="submit">Enviar</button>
  </form>
  
  
  <footer class="footer">
    <div class="container-rodape">
        <div class="links-footer">
            <div class="links">
                <h2>Links Ùteis</h2>
                <ul>
                    <li><a href="#">Regras de Utilização</a></li>
                    <li><a href="#">Suporte</a></li>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
  
                <h2>Paginas</h2>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Campeonatos</a></li>
                    <li><a href="#">Resultados</a></li>
                    <li><a href="#">Noticias</a></li>
                </ul>
            </div>
        </div>
        
        <div class="sociais">
            <h2>Receba Noticias e Promoções</h2>
            <form action="">
                <input id="campo-email" type="email" placeholder="E-mail" name="" id="" required>
                <button onclick="enviarEmail()" class="botao-cadastrar">Cadastrar</button>
            </form>
        </div>
        <div class="siga-nos">
            <h2>Siga-nos em:</h2>
            <a href="#"><img src="../assets/img/inst.png" alt="logo insta"></a>
            <a href="#"><img src="../assets/img/face.png" alt="logo face"></a>
            <a href="#"><img src="../assets/img/youtube.png" alt="logo youtube"></a>
        </div>
    </div>
  </footer>
